@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.main{
    margin: 0;
    background: linear-gradient(70deg, #171717, #000000);
    font-family: "Montserrat", sans-serif;
    color:#ffffff
}

.wrong-numder{
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
}