@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.shapka {
    width: 100%;
    height: 50px;
    margin: 0;
    background-size: cover;
    box-shadow: inset 0px -10px 15px -12px #000000;
    background: rgba(0, 0, 0, 0.405);
}

.main {
    background-size: cover;
    background-image: url(bg.png);
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.1);
    font-family: "Roboto Condensed", sans-serif;
    width: 100%;
    margin: 0
}

.real {
    margin-top: 0;
    margin: auto;
    text-align: center;
}

.heading2 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.fio {
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(blur.png);
    height: 500px;
    background-size: cover;
    width: 100%;
    display: table;
}

.true-main-heading-left {
    font-family: "Montserrat", sans-serif;
    position: relative;
    height: 500px;
    width: 40%;
    float: left;
    font-size: 36px;
    display: table;
    left: 10%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.true-main-heading-right {
    position: relative;
    height: 500px;
    width: 40%;
    display: table;
    float: right;
    font-size: 36px;
    border-radius: 50%;
    left: -10%
}

.izaya {
    position: relative;
    width: 484px;
    border: solid 8px;
    display: table;
    border-radius: 50%;
    border-color: #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
    left: 0%
}

.skipping {
    float: left;
    height: 35px;
    width: 100%
}

.scince {
    /*Параметры*/
    min-height: 400px;
    width: 100%;
    display: table;
    padding-top: 24px;
    padding-bottom: 24px;
    /*Настройки блока*/
    border-width: 8px;
    border-color: black;
    background: linear-gradient(210deg, #ebb298 20%, #c36570 80%);
    box-shadow: inset 0px 0px 25px 1px rgba(0, 0, 0, 0.5);
    background-size: cover;
    /*Настройки текста*/
    font-size: 25px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.scince-text {
    width: 51%;
    min-height: 300px;
    position: relative;
    float: right;
    margin-right: 3%;
    text-align: left;
    text-indent: 2em;
    display: table
}

.scinse-photo {
    display: table;
    left: 2%;
    width: 40%;
    min-height: 300px;
    position: relative;
    float: left;
    margin: 0;
}

.real-photo {
    position: relative;
    width: 100%;
    border: solid 8px;
    border-radius: 25px;
    border-color: #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
    margin-bottom: 5%;
    margin-top: 5%
}

.aa {
    /*Параметры*/
    min-height: 400px;
    width: 100%;
    display: table;
    padding-top: 24px;
    padding-bottom: 24px;
    /*Настройки блока*/
    border-width: 8px;
    border-color: black;
    background: linear-gradient(210deg, #0077ff 20%, #00aaff 80%);
    box-shadow: inset 0px 0px 25px 1px rgba(0, 0, 0, 0.5);
    background-size: cover;
    /*Настройки текста*/
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.aa-text {
    width: 51%;
    min-height: 300px;
    position: relative;
    float: right;
    margin-right: 3%;
    text-align: left;
    text-indent: 2em;
    display: table
}

.aa-photo {
    display: table;
    left: 2%;
    width: 40%;
    min-height: 300px;
    position: relative;
    float: left;
    margin: 0;
}

.aa-real-photo {
    position: relative;
    width: 100%;
    border: solid 8px;
    border-radius: 25px;
    border-color: #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
    margin-bottom: 5%;
    margin-top: 5%
}

.aa-link{
    color: rgb(4, 0, 229);
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.block-heading {
    /*Параметры*/
    min-height: 120px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 80%;
    display: table;
    /*Настройки блока*/
    box-shadow: inset 0px 0px 15px 3px rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.405);
    background-size: cover;
    /*Настройки текста*/
    font-size: 25px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.gaming {
    /*Параметры*/
    min-height: 800px;
    width: 90%;
    display: table;
    padding: 2% 5%;
    /*Настройки блока*/
    background: linear-gradient(210deg, #000000 30%, #393939);
    box-shadow: inset 0px 0px 25px 1px rgba(0, 0, 0, 0.5);
    background-size: cover;
    /*Настройки текста*/
    font-size: 23px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.osu-link{
    color: #f63d90;
    text-decoration: none;
}

.cs-link{
    color: #fd9b00;
    text-decoration: none;
}

.val-link{
    color: #ff4657;
    text-decoration: none;
}

.skill-show {
    position: relative;
    float: right;
    width: 55%;
    min-height: 200px;
    border: solid 8px;
    border-radius: 25px;
    border-color: #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
    left: 0%;
    margin-bottom: 5%
}

.title {
    /*Параметры*/
    width: 40%;
    min-height: 100px;
    float: left;
    /*Настройки блока*/
    background-size: cover;
    border-color: #ffffff;
    /*Настройки текста*/
    color: #f0f8ff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.info {
    /*Параметры*/
    width: 40%;
    min-height: 300px;
    float: left;
    color: #f0f8ff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: left;
    text-indent: 2em
}

.skill-show2 {
    position: relative;
    float: left;
    width: 55%;
    min-height: 200px;
    border: solid 8px;
    border-radius: 25px;
    border-color: #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
    left: 0%;
    margin-bottom: 5%
}

.title2 {
    /*Параметры*/
    width: 40%;
    min-height: 100px;
    float: right;
    /*Настройки блока*/
    background-size: cover;
    border-color: #ffffff;
    /*Настройки текста*/
    color: #f0f8ff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.info2 {
    /*Параметры*/
    width: 40%;
    min-height: 300px;
    float: right;
    color: #f0f8ff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: left;
    text-indent: 2em
}

.cs-go {
    min-height: 500px;
    width: 100%;
    display: table;
}

.osu {
    min-height: 500px;
    width: 100%;
    display: table;
}

.valorant {
    min-height: 500px;
    width: 100%;
    display: table;
}

.hobby {
    /*Параметры*/
    min-height: 400px;
    width: 90%;
    display: table;
    padding: 2% 5%;
    /*Настройки блока*/
    background: linear-gradient(30deg, #ffaa65, #ffdab5 80%);
    box-shadow: inset 0px 0px 25px 1px #672f00;
    background-size: cover;
    /*Настройки текста*/
    font-size: 22px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.piano-skils {
    margin-left: -2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: table;
    position: relative;
    float: left;
    width: 45%;
    min-height: 100px;
    border: solid 8px;
    border-radius: 25px;
    border-color: #672f00;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
    left: 0%;
    margin-bottom: 5%
}

.piano-story {
    display: table;
    width: 53%;
    min-height: 300px;
    margin-top: 2%;
    float: right;
    color: #672f00;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: left;
    text-indent: 2em
}

.sax-skils {
    margin-left: -2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: table;
    position: relative;
    float: left;
    width: 45%;
    min-height: 100px;
    border: solid 8px;
    border-radius: 25px;
    border-color: #672f00;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
    left: 0%;
    margin-bottom: 5%
}

.sax-story {
    display: table;
    width: 53%;
    min-height: 300px;
    margin-top: 2%;
    float: right;
    color: #672f00;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: left;
    text-indent: 2em
}

.sax {
    display: table
}

.piano {
    display: table
}

.hobby-link{
    color: rgb(229, 114, 0);
    text-decoration: none;
}

.activities {
    min-height: 200px;
    width: 86%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: linear-gradient(72deg, #ff3535 11%, #5181b8 46%, #000000 86%);
    display: table;
    text-align: center;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
}

.ntou {
    min-height: 200px;
    width: 26%;
    background-color: white;
    background-size: cover;
    display: inline-table;
    padding: 2% 2%;
    border-style: solid;
    border-color: #ff0000;
    border-width: 8px;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 3px 1px #00000083, 0px 0px 5px 2px #000000;
    color: rgb(0, 0, 0);
    vertical-align: top;
}

.ntuo-avatar {
    min-height: 50px;
    width: 110px;
    border-style: solid;
    border-color: #ff0000;
    border-width: 0px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px 2px #000000, 0px 0px 5px 2px #000000;
    display: block;
    margin: auto;
}

.dv {
    min-height: 200px;
    width: 26%;
    background-color: #ffffff;
    background-size: cover;
    display: inline-table;
    padding: 2% 2%;
    margin-left: 5%;
    margin-right: 5%;
    border-style: solid;
    border-color: #5181B8;
    border-width: 8px;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 3px 1px #00000083, 0px 0px 5px 2px #000000;
    vertical-align: top;
}

.dv-avatar {
    min-height: 50px;
    width: 110px;
    border-style: solid;
    border-width: 0px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px 2px #000000, 0px 0px 5px 2px #000000;
    display: block;
    margin: auto;
}

.dollars {
    min-height: 200px;
    width: 26%;
    background-color: #212121;
    background-size: cover;
    display: inline-table;
    padding: 2% 2%;
    border-style: solid;
    border-color: #000000;
    border-width: 8px;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 5px 2px #00000083, 0px 0px 5px 2px #000000;
    color: white;
    vertical-align: top;
}

.dollars-avatar {
    min-height: 50px;
    width: 110px;
    border-style: solid;
    border-width: 0px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px 2px #000000, 0px 0px 5px 2px #000000;
    display: block;
    margin: auto;
}

.yt {
    text-decoration: none;
    text-align: center;
    padding: 11px 32px;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    color: #E5FFFF;
    background-color: #ff0000;
}

.yt:hover {
    padding: 11px 32px;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #ffffff;
    background-color: #ffaaaa;
}

.yt:active {
    padding: 11px 32px;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #e5ffff;
    background-color: #ff0000;
}

.dv-link {
    text-decoration: none;
    text-align: center;
    padding: 11px 32px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #E5FFFF;
    background-color: #5181B8;
}

.dv-link:hover {
    padding: 11px 32px;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #ffffff;
    background-color: #a6b9d0;
}

.dv-link:active {
    padding: 11px 32px;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #e5ffff;
    background-color: #5181B8;
}

.dollars-link {
    text-decoration: none;
    text-align: center;
    padding: 11px 32px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #E5FFFF;
    background-color: #000000;
}

.dollars-link:hover {
    padding: 11px 32px;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #ffffff;
    background-color: #414141;
}

.dollars-link:active {
    padding: 11px 32px;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #e5ffff;
    background-color: #000000;
}

.description{
    min-height: 70px;
    width: 100%;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 7%;
    display: table;
}

.des-text{
    color:white;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    font-family: "Montserrat", sans-serif;
    text-align: left;
    text-indent: 2em;
    min-height: 20px;
    width: 86%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
}

.ds-text{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    color: black;
    margin-bottom: 0px;
}

.underground{
    /*Параметры*/
    min-height: 120px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 80%;
    display: table;
    /*Настройки блока*/
    box-shadow: inset 0px 0px 15px 3px rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.405);
    background-size: cover;
    /*Настройки текста*/
    font-size: 1em;
    text-align: left;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    
}

.un-text{
    width: 31%;
    position: relative;
    float: left;
    text-align: justify;
    text-indent: 2em;
    display: table; 
    text-align: left;
    padding-right: 2%;
    font-size: 1em;
}

.un-lin{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}