@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.main {
    width: 100%;
    margin: 0;
    background-image: url(dollars-bg.png);
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    color: #ffffff
}

.header {
    background: linear-gradient(70deg, #171717ce, #000000ce);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    min-height: 10px;
    font-size: 22px;
    font-family: "Roboto Condensed", sans-serif;
    box-shadow: 0px 0px 20px 0px white;
    display: table;
    position: relative;
    z-index: 2
}

.team-btn {
    position: relative;
    text-align: left;
    display: table;
    float: left;
    width: 20%;
    padding-left: 1%;
}

.passage-btn {
    position: relative;
    text-align: center;
    display: table;
    float: left;
    width: 58%;
}

.bio-btn {
    position: relative;
    text-align: right;
    display: table;
    float: left;
    width: 20%;
    padding-right: 1%;
}

.content {
    min-height: 50px;
}

.face-banner {
    width: 100%;
    display: table;
    min-height: 10px;
    background: linear-gradient(70deg, #000000ce, #181818ce);
}

.face-banner-cell {
    height: 600px;
    padding: 0;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.leftside {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    float: left;
    display: table;
    min-height: 50px;
    font-size: 36px;
    width: 45%;
    text-align: center;
}

.rightside {
    position: relative;
    font-size: 36px;
    float: right;
    min-height: 10px;
    width: 55%;
}

.heading {
    background: linear-gradient(70deg, #000000ce, #141414ce);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    min-height: 10px;
    font-size: 26px;
    display: table;
    text-align: center;
    box-shadow: inset 0px 0px 30px 0px #ffffffba;
}

.description {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 3%;
    padding-right: 3%;
    width: 94%;
    min-height: 10px;
    font-size: 24px;
    display: table;
    text-align: center;
    background: linear-gradient(70deg, #121212ce, #0a0a0ace);
}

.des-text {
    text-align: left;
    text-indent: 2em;
}

.des-apeal {
    display: inline-table;
    min-height: 1px;
    min-width: 1px;
    font-size: 30px;
    text-shadow: 0px 0px 5px #ffffff;
}

.final-apeal {
    font-size: 50px;
}

.underground {
    background: linear-gradient(70deg, #000000ce, #222222ce);
    padding: 1%;
    width: 98%;
    min-height: 10px;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    box-shadow: 0px 0px 20px 0px white;
    display: table;
}

.un-head {
    font-size: 22px;
}

.un-des {
    font-size: 18px;
    padding: 0;
}